<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://cdn.pixabay.com/photo/2017/11/02/20/31/guitars-2912447_1280.jpg"
        class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <div class="d-flex justify-content-center">
          <img src="../../assets/musicpro_nigga.png" alt="" width="500" height="99">
        </div>
        <form  [formGroup]="registerForm" (submit)="submitForm">
          <div class="divider d-flex align-items-center my-4">
            <h5 class="text-center fw-bold mx-3 mb-0">Registro</h5>
          </div>

          <!-- Email input -->
          <div class="form-outline">
            <input formControlName="email" type="email" id="emailinput" class="form-control form-control-lg"
              placeholder="ejemplo@ejemplo.com" />
          </div>

          <!-- Dynamic Label -->
          <div id="spacing">
            <label *ngIf="email?.invalid && (email?.dirty || email?.touched)"
              class="text-danger">
                <label *ngIf="email?.errors?.['required']">
                  Debe ingresar un correo
                </label>
                <label *ngIf="email?.errors?.['email']">
                  El correo debe tener un formato valido
                </label>
              </label>
          </div>

          <!-- Password input -->
          <div class="form-outline">
            <input formControlName="password" type="password" id="passwordinput" class="form-control form-control-lg"
              placeholder="Contraseña" />  
          </div>
          <!-- Dynamic Label -->
          <div id="spacing">
            <label *ngIf="password?.invalid && (password?.dirty || password?.touched)"
            class="text-danger" >
              <label *ngIf="password?.errors?.['required']">
                Debe ingresar una Contraseña.
              </label>
            </label>
          </div>

          <!-- Confirmation Password input -->
          <div class="form-outline">
            <input formControlName="confirmPassword" type="password" id="confirmPasswordinput"
              class="form-control form-control-lg"
              placeholder="Confirme su Contraseña"
              [ngClass]="{ 'ng-valid': registerForm.get('confirmPassword')?.valid && registerForm.get('confirmPassword')?.touched,
               'ng-invalid': !registerForm.get('confirmPassword')?.valid && registerForm.get('confirmPassword')?.touched }" />
          </div>
          
            <!-- Dynamic Label -->
            <div id="spacing">
                <label *ngIf="registerForm.get('confirmPassword')?.hasError('required') && (registerForm.get('confirmPassword')?.dirty || registerForm.get('confirmPassword')?.touched)"
                class="text-danger">
                  Vuelva a ingresar su Contraseña.
                </label>
                <label *ngIf="registerForm?.hasError('notSame') && (registerForm?.get('confirmPassword')?.dirty || registerForm?.get('confirmPassword')?.touched)"
                class="text-danger">
                  Las Contraseñas no Coinciden 
                </label>
            </div>



            
            

          <!-- Name input -->
          <div class="form-outline">
              <input formControlName="nameuser" type="nameuser" id="nameuser" class="form-control form-control-lg"
                placeholder="Nombre" />
            </div>

            <!-- Dynamic Label -->
            <div id="spacing">
              <label *ngIf="nameuser?.invalid && (nameuser?.dirty || nameuser?.touched)"
              class="text-danger" >
                  <label *ngIf="nameuser?.errors?.['required']">
                    Debe ingresar su Nombre
                  </label>
              </label>
            </div>

            <!-- Last Name User input -->
            <div class="form-outline">
              <input formControlName="lastnameuser" type="lastnameuser" id="lastnameuser" class="form-control form-control-lg"
                placeholder="Apellido" />
            </div>

            <!-- Dynamic Label -->
            <div id="spacing">
              <label *ngIf="lastnameuser?.invalid && (lastnameuser?.dirty || lastnameuser?.touched)"
              class="text-danger" >
                  <label *ngIf="lastnameuser?.errors?.['required']">
                    Debe ingresar su Apellido
                  </label>
              </label>
            </div>

            <!-- Rut User input -->
            <div class="form-outline">
              <input formControlName="rut" type="rut" id="rut" class="form-control form-control-lg"
                placeholder="Rut" />
            </div>

            <!-- Dynamic Label -->
            <div id="spacing">
              <label *ngIf="rut?.invalid && (rut?.dirty || rut?.touched)"
              class="text-danger">
                  <label *ngIf="rut?.errors?.['required']">
                    Debe ingresar su Rut
                  </label>
              </label>
            </div>

             <!-- Region input -->
             <div class="form-outline">
                <select formControlName="region" type="region" id="region"
                class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                (change)="onRegionChange()">
                <option value="" disabled selected>Seleccione su Región</option>
                <option *ngFor="let region of regionOption" [value]="region.id">{{ region.name_region }}</option>
                </select>
            </div>

            <div id="spacing">
              <label *ngIf="region?.errors?.['required']"
              class="text-danger">
                Debe seleccionar una Región.
              </label>
            </div>

            <!-- Comuna input -->
            <div class="form-outline">
              <select formControlName="comuna" type="comuna" id="comuna"
              class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option value="" disabled selected>Seleccione su Comuna</option>
                <option *ngFor="let comuna of comunaOptions" [value]="comuna.id">{{ comuna.name_comuna }}</option>
              </select>
          </div> 

          <div id="spacing">
            <label *ngIf="comuna?.errors?.['required']"
            class="text-danger">
              Debe seleccionar una Comuna.
            </label>
          </div>

            <!-- Address input -->
            <div class="form-outline">
              <input formControlName="address" type="address" id="address" class="form-control form-control-lg"
                placeholder="Ingrese su Dirección"/>
            </div>

            <!-- Dynamic Label -->
            <div id="spacing">
              <label *ngIf="address?.invalid && (address?.dirty || address?.touched)"
              class="text-danger">
                  <label *ngIf="address?.errors?.['required']">
                    Debe ingresar su Dirección
                  </label>
              </label>
            </div>

            <!-- Number Address input -->
            <div class="form-outline">
              <input formControlName="addressnumber" type="addressnumber" id="addressnumber" class="form-control form-control-lg"
                placeholder="Ingrese su número de Dirección"/>
            </div>

            <!-- Dynamic Label -->
            <div id="spacing">
              <label *ngIf="addressnumber?.invalid && (addressnumber?.dirty || addressnumber?.touched)"
              class="text-danger">
                  <label *ngIf="addressnumber?.errors?.['required']">
                    Ingrese número de dirección 
                  </label>
              </label>
            </div>             

            <!-- More Address information input -->
            <div class="form-outline">
              <input formControlName="moreinfo" type="moreinfo" id="moreinfo" class="form-control form-control-lg"
                placeholder="¿Información adicional?" />
            </div>

            <!-- Dynamic Label -->
            <div id="spacing">
              <label *ngIf="moreinfo?.invalid && (moreinfo?.dirty || moreinfo?.touched)"
              class="text-danger">
              </label>
            </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button (click)="submitForm()" type="button" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Registrarse</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">¿Ya tienes Cuenta? <a routerLink="../login"
                class="link-danger">Iniciar Sesión</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>