<footer class="bg-dark text-white pt-5 pb-4">
  <div class="container text-center text-md-left">
    <div class="row text-center text-md-left">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <!--título-->
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">MusicPro</h5>
        <!--Descripción-->
        <p>En MusicPro tenemos todo lo que necesitas en instrumentos musicales y audio profesional, encontrarás el catálogo más completo de Chile y el mundo.</p>
      </div>
      <!--Links mi cuenta-->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Mi cuenta</h5>
        <p><a href="#" class="text-white" style="text-decoration: none;">Iniciar sesión</a></p>
        <p><a href="#" class="text-white" style="text-decoration: none;">Registro</a></p>
        <p><a href="#" class="text-white" style="text-decoration: none;">Recuperar contraseña</a></p>
        <p><a href="#" class="text-white" style="text-decoration: none;">Mis compras</a></p>
      </div>
      <!--Links productos-->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">productos</h5>
        <p><a href="#" class="text-white" style="text-decoration: none;">Instrumentos de cuerdas</a></p>
        <p><a href="#" class="text-white" style="text-decoration: none;">Percusión</a></p>
        <p><a href="#" class="text-white" style="text-decoration: none;">Amplificadores</a></p>
        <p><a href="#" class="text-white" style="text-decoration: none;">Accesorios</a></p>
      </div>
      <!--Links Nosotros-->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Sobre Nosotros</h5>
        <p><a href="#" class="text-white" style="text-decoration: none;">Sucursales</a></p>
        <p><a href="#" class="text-white" style="text-decoration: none;">Envíos</a></p>
        <p><a href="#" class="text-white" style="text-decoration: none;">Trabaja con nosotros</a></p>
        <p><a href="#" class="text-white" style="text-decoration: none;">Contáctanos</a></p>
      </div>
      <!--nosotros-->
      <hr class="mb-4">
      <!-- Grid container -->
    <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
>     <i class="fab fa-instagram"></i
>     </a>

      <!-- WhatsApp -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
>     <i class="fab fa-whatsapp"></i
>     </a>

      <!-- Youtube -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-youtube"></i
      ></a>

      
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3">© 2023 MusicPro</div>
</div>
</div>
</footer>