<nav class="navbar navbar-expand-md navbar-dark bg-dark d-flex p-2">
    <a class="navbar-brand" href="index1.html">
        <img src="assets\musicpro.png" alt="logo" height="25px" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- -- -->
    <div class="btn-group me-3 flex-grow-1">
        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-secondary" ngbDropdownToggle>Instrumentos de Cuerdas</button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <button (click)="redireccionar('products/cuerdas/guitarras')" ngbDropdownItem>Guitarras </button>
                <button (click)="redireccionar('products/cuerdas/bajos')" ngbDropdownItem>Bajos</button>
                <button (click)="redireccionar('products/cuerdas/pianos')" ngbDropdownItem>Pianos</button>
            </div>
        </div>
        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-secondary" ngbDropdownToggle>Percusión</button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <button (click)="redireccionar('products/percusion/Bater%C3%ADas%20Ac%C3%BAstica')" ngbDropdownItem>Baterías
                    Acústicas</button>
                <button (click)="redireccionar('products/percusion/Bater%C3%ADas%20Electr%C3%B3nicas')" ngbDropdownItem>Batería
                    Electrónicas</button>
            </div>
        </div>
        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-secondary" ngbDropdownToggle>Amplificadores</button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <button (click)="redireccionar('products/amplificadores/cabezales')" ngbDropdownItem>Cabezales</button>
                <button (click)="redireccionar('products/amplificadores/cajas')" ngbDropdownItem>Cajas</button>
            </div>
        </div>
        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-secondary" ngbDropdownToggle>Accesorios varios</button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <button (click)="redireccionar('products/accesorios/Aud%C3%ADfonos')" ngbDropdownItem>Audífonos</button>
                <button (click)="redireccionar('products/accesorios/monitores')" ngbDropdownItem>Monitores</button>
                <button (click)="redireccionar('products/accesorios/parlantes')" ngbDropdownItem>Parlantes</button>
                <button (click)="redireccionar('products/accesorios/cables')" ngbDropdownItem>Cables</button>
                <button (click)="redireccionar('products/accesorios/Micr%C3%B3fonos')" ngbDropdownItem>Micrófonos</button>
                <button (click)="redireccionar('products/accesorios/interfaces')" ngbDropdownItem>Interfaces</button>
                <button (click)="redireccionar('products/accesorios/mixers')" ngbDropdownItem>Mixers</button>
            </div>
        </div>
    </div>

    <div class="icons d-flex justify-self-end mx-3 justify-content-center align-items-center">
        <p class="text-white align-items-center m-0" *ngIf="isLogedIn()">
            Hola {{ nombreCliente$.value }}
        </p>

        <mat-icon aria-hidden="false" matBadge="{{cartQuantity}}" matBadgeColor="warn" aria-label="Example home icon"
            fontIcon="shopping_cart" style="color: aliceblue;">
        </mat-icon>
        <!-- Boton iniciar sesion -->


        <button type="button" class="btn btn-secondary" [routerLink]="['/login']" *ngIf="!isLogedIn()">
            Iniciar Sesión
        </button>
        <button type="button" class="btn btn-secondary" *ngIf="isLogedIn()" (click)="logout()">
            Cerrar Sesión
        </button>
    </div>
</nav>