<div style="display: flex; justify-content: center; align-items: center">
  <button (click)="getOrders('P')" style="margin: 10px" mat-raised-button color="gray">
    Aprobar pedidos
  </button>
  <button (click)="getOrders('V')" style="margin: 10px" mat-raised-button color="gray">
    Despachar a bodega
  </button>
  <button (click)="getOrders('C')" style="margin: 10px" mat-raised-button color="gray">
    Pedidos retiro
  </button>
  <button (click)="getOrders('S')" style="margin: 10px" mat-raised-button color="gray">
    Pedidos pendientes
  </button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
  <!-- Generar las columnas dinámicamente -->
  <ng-container *ngFor="let column of columns" [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
    <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
  </ng-container>

  <!-- Definir las columnas a mostrar -->
  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>