    <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/banner1.png" class="d-block w-100" alt="Random first slide" />
      </div>

    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/banner2.png" class="d-block w-100" alt="Random second slide" />
      </div>
    
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/banner3.png" class="d-block w-100" alt="Random third slide" />
      </div>
  
    </ng-template>
  </ngb-carousel>