<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="index1.html">
        <img src="../html/img/musicpro.png" alt="logo" height="25px" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- -- -->
      <div class="btn-group me-3">
        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
          <button type="button" class="btn btn-secondary" ngbDropdownToggle>Instrumentos de Cuerdas</button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button (click)="redireccionar('products/cuerdas/guitarras')" ngbDropdownItem>Guitarras </button>
            <button (click)="redireccionar('products/cuerdas/bajos')"ngbDropdownItem>Bajos</button>
            <button (click)="redireccionar('products/cuerdas/pianos')"ngbDropdownItem>Pianos</button>
          </div>
        </div>
        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
          <button type="button" class="btn btn-secondary" ngbDropdownToggle>Percusión</button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button (click)="redireccionar('products/percusion/bateriasAcusticas')" ngbDropdownItem>Baterías Acústicas</button>
            <button (click)="redireccionar('products/percusion/bateriasElectronicas')"ngbDropdownItem>Batería Electrónicas</button>
          </div>
        </div>
        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
          <button type="button" class="btn btn-secondary" ngbDropdownToggle>Amplificadores</button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button (click)="redireccionar('products/amplificadores/cabezales')" ngbDropdownItem>Cabezales</button>
            <button (click)="redireccionar('products/amplificadores/cajas')" ngbDropdownItem>Cajas</button>
          </div>
        </div>
        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
          <button type="button" class="btn btn-secondary" ngbDropdownToggle>Accesorios varios</button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button (click)="redireccionar('products/accesorios/audifonos')" ngbDropdownItem>Audifonos</button>
            <button (click)="redireccionar('products/accesorios/monitores')" ngbDropdownItem>Monitores</button>
            <button (click)="redireccionar('products/accesorios/parlantes')" ngbDropdownItem>Parlantes</button>
            <button (click)="redireccionar('products/accesorios/cables')" ngbDropdownItem>Cables</button>
            <button (click)="redireccionar('products/accesorios/microfonos')" ngbDropdownItem>Micrófonos</button>
            <button (click)="redireccionar('products/accesorios/interfaces')" ngbDropdownItem>Interfaces</button>
            <button (click)="redireccionar('products/accesorios/mixers')" ngbDropdownItem>Mixers</button>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>
