<header>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark ">
		<div class="container-fluid">
			<a class="navbar-brand" href="index1.html">
				<img src="../html/img/musicpro.png" alt="logo" height="25px">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
				<ul class="navbar-nav mb-lg-0 bg-dark">
				<!-- Instrumentos de cuerdas-->
					<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					Instrumentos de cuerdas
					</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="#">Guitarras</a></li>
						<li><a class="dropdown-item" href="#">Bajos</a></li>
						<li><a class="dropdown-item" href="#">Pianos</a></li>
					</ul>
				</li>
					<ul>
						<!--Percusión-->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Percusión
							</a>
						</li>
					</ul>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="#">Baterías Acústicas</a></li>
						<li><a class="dropdown-item" href="#">Batería Electrónica </a></li>
					</ul>
					<ul>
						<!--Amplificadores-->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Amplificadores
							</a>
						</li>
					</ul>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="#">Cabezales</a></li>
						<li><a class="dropdown-item" href="#">Cajas</a></li>
					</ul>
					<!--Accesorios-->
					<li class="nav-item">
						<a class="nav-link" href="#">Accesorios</a>
					</li>
				</ul>	
				</div>
			</div>
</nav>
</header>

<router-outlet></router-outlet>


