<div *ngIf="productType">
  {{ productType }}
</div>

<div *ngIf="productCategory">
  {{ productCategory }}
</div>

<div *ngIf="productSubcategory">
  {{ productSubcategory }}
</div>

<div *ngIf="!productType"></div>
<!-- Card de coso <div class="row card-product-group">
    <div
      class="col-3"
      (click)="redireccionar(cardCategory.path)"
      *ngFor="let cardCategory of cardCategories"
    >
      <div class="card-product flex-item">
        <div class="card border-0 shadow h-100">
          <div class="card-body pt-40px pb-30px">
            <h2 class="mb-3 text-center card-space">{{ cardCategory.name }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div> -->
<div class="container mt-2 w-75 mx-auto">
  <div class="row row-cols-3">
    <div class="col my-2" *ngFor="let product of products">
      <div class="card border-0 shadow h-100">
        <img src="{{ product.image }}" alt="blog" class="card-img-top image-size" />
        <div class="card-body">
          <div class="text-center mb-2">
            <span class="text-muted small">{{ product.price }}</span>
          </div>
          <h4 class="mb-3 text-center card-space">{{ product.name }}</h4>
          <div class="d-flex align-items-center justify-content-center">
            <span class="text-muted small font-weight-bold overflow-example">{{ product.description }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>