<app-home></app-home>
<div *ngIf="productType">
  {{ productType }}
</div>

<div *ngIf="productCategory">
  {{ productCategory }}
</div>

<div *ngIf="productSubcategory">
  {{ productSubcategory }}
</div>

<div *ngIf="!productType">
  <div class="row card-product-group">
    <div *ngFor="let product of products">
        <div class="col card-product">
        <div class="card border-0 shadow h-100">
          <img src="{{ product.image }}" alt="blog" class="card-img-top" />
          <div class="card-body pt-40px pb-30px">
            <div class="text-center mb-2">
              <span class="text-muted small">{{product.price}}</span>
            </div>
            <h4 class="mb-3 text-center">{{ product.name }}</h4>
            <div class="d-flex align-items-center justify-content-center">
              <span class="text-muted small font-weight-bold"
                >Gypsy Hardinge</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

